/* --- Шрифт по умолчанию --- */
$fontFamily: "MuseoSans sans-serif";
$fontSize: rem(16);

/* --- Палитра --- */
$main-color: #000;

/* --- Настройки --- */
// Минимальная ширина страницы
$minWidth: 320;

// Ширина полотна (макета)
$maxWidth: 1920;

// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;

// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Размеры экранов
$pc: $containerWidth;
$tablet: 991.98;
$mobile: 767.98;
$mobileSmall: 479.98;

// Брейкпоинты
$lg: $pc + px;
$md: $tablet + px;
$sm: $mobile + px;
$xs: $mobileSmall + px;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
